version: '3'

services:
  debian-slim:
    build: .
    volumes:
      - ./cadicom:/home
      - ./maven-repo:/root/.m2
    container_name: debian_slim
    command: tail -f /dev/null # Keeps the container running
    ports:
      - "8080:8080"
      - "35729:35729"
    networks:
      - backend

  db:
    image: mysql:8
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: Cadicom
      MYSQL_USER: cadicomAdmin
      MYSQL_PASSWORD: cadicomAdmin
    networks:
      - backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8090:80"
    environment:
      PMA_HOST: db
      PMA_USER: cadicomAdmin
      PMA_PASSWORD: cadicomAdmin
      MYSQL_ROOT_PASSWORD: example
    depends_on:
      - db
    networks:
      - backend

networks:
  backend:

volumes:
  maven-repo: